body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Signika', sans-serif;

}
.jumbo-color {
    background-image: radial-gradient(ellipse at top left, #ffd000, #ffa32a, #e24b30);
    color: cornsilk;
}
#titulos {
    font-family: "Raleway", sans-serif;
}
.card-hotel {
    width: 180px;
    margin-top: 1rem;
    padding: 2px 10px;
    border-color: chocolate !important;
}
.description {
    padding: 15px 10px;
    font-size: 14px;
    text-align: justify;
    height: 12rem;
}
footer.footer {
    background-color: #ffd000;
    margin-top: auto;
}
.social-icon {
    color: darkred;
}